.header-container {
  margin: 20px;
  padding: 5px 30px;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

.rectangle {
  width: 100%;
  height: 10px;
  background-color: rgb(103, 58, 183);
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 0;
  left: 0;
}

.header-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.header-divider {
  border: 1px solid #ccc;
  margin: 10px 0;
}

.header-email-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-email {
  color: rgb(108, 106, 106);
  font-weight: 700;
  margin-bottom: 30px;
}

.header-switch-account {
  color: #1a7be2;
  font-weight: 400;
}

.header-cloud-icon {
  color: rgb(108, 106, 106);
}

.header-description {
  margin-top: 10px;
  color: rgb(103, 102, 102);
}

.header-required {
  margin-top: 10px;
  color: red;
}
