.short-answer-container {
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
}

.short-answer-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.short-answer-required {
  color: red;
}

.short-answer-input {
  margin-top: 10px;
}

.half {
  width: 50%;
}

.full {
  width: 100%;
}
